<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="dsm.trades.rcp.internal.TradesPerspectiveFactory"
            icon="icons/logo_16.png"
            id="dsm.TRADES.rcp.perspective"
            name="TRADES">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="dsm.TRADES.rcp.perspective">
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.6"
               relationship="bottom"
               relative="org.eclipse.sirius.ui.tools.views.model.explorer">
         </view>
         <hiddenToolBarItem
               id="org.eclipse.jdt.ui.navigate.open.type">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.sirius.editor.reloadVSMCommand">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.externaltools.ExternalToolsSet">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="dsm.TRADES.rcp.import"
            name="TRADES">
      </category>
      <wizard
            category="dsm.TRADES.rcp.import"
            class="dsm.trades.rcp.internal.wizards.ImportTradesModelWizard"
            icon="icons/bookmarks_view.png"
            id="dsm.TRADES.rcp.trades"
            name="Import TRADES library">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="dsm.TRADES.rcp.export"
            name="TRADES">
      </category>
   </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <wizard
           category="dsm.TRADES.rcp.import"
           class="dsm.trades.rcp.internal.wizards.ImportEmbeddedCWECatalogWizard"
           icon="icons/bookmarks_view.png"
           id="dsm.cwe.design.importcwecatalog"
           name="Import MITRE CWE Catalog">
        <selection
              class="org.eclipse.core.resources.IProject">
        </selection>
        <description>
           Import an embedded MITRE CWE library
        </description>
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <wizard
           category="dsm.TRADES.rcp.import"
           class="dsm.trades.rcp.internal.wizards.ImportCVECatalogWizard"
           icon="icons/bookmarks_view.png"
           id="dsm.cve.design.importcvecatalog"
           name="Import CVEs from Component Types">
        <selection
              class="org.eclipse.core.resources.IProject">
        </selection>
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <wizard
           category="dsm.TRADES.rcp.import"
           class="dsm.trades.rcp.internal.wizards.ImportCVEViaParametersWizard"
           icon="icons/bookmarks_view.png"
           id="dsm.cve.design.importcveviaparameters"
           name="Import CVEs via URL Parameters">
        <selection
              class="org.eclipse.core.resources.IProject">
        </selection>
     </wizard>
  </extension>
</plugin>
