<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="dsm.cve.design.Activator"
               id="dsm.cve.design"
	       name="cve">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <actionProvider
           class="dsm.cve.design.actions.CVEActionProvider"
           id="dsm.cve.design.actions.CVEActionProvider"
           priority="normal">
        <enablement>
           <or>
              <instanceof
                    value="org.eclipse.sirius.ui.tools.api.views.common.item.CommonSessionItem">
              </instanceof>
              <instanceof
                    value="org.eclipse.emf.ecore.EObject">
              </instanceof>
              <instanceof
                    value="org.eclipse.emf.ecore.resource.Resource">
              </instanceof>
              <adapt
                    type="org.eclipse.core.resources.IProject">
                 <test
                       property="org.eclipse.core.resources.projectNature"
                       value="org.eclipse.sirius.nature.modelingproject">
                 </test>
              </adapt>
              <and>
                 <instanceof
                       value="org.eclipse.core.resources.IFile">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.sirius.ui.isFileForSessionTester">
                 </test>
              </and>
              <and>
                 <not>
                    <adapt
                          type="org.eclipse.core.resources.IProject">
                       <test
                             property="org.eclipse.core.resources.projectNature"
                             value="org.eclipse.sirius.nature.modelingproject">
                       </test>
                    </adapt>
                 </not>
                 <instanceof
                       value="org.eclipse.core.resources.IFile">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.sirius.ui.isSemanticResourceFileTester">
                 </test>
              </and>
              <adapt
                    type="org.eclipse.core.resources.IFolder">
              </adapt>
           </or>
        </enablement>
     </actionProvider>
     <commonWizard
           type="export"
           wizardId="dsm.cve.design.exportToXML">
        <enablement></enablement>
     </commonWizard>
     <commonWizard
           type="new"
           wizardId="dsm.cve.design.cvecatalog.wizard">
        <enablement></enablement>
     </commonWizard>
     <commonWizard
           type="import"
           wizardId="dsm.cve.design.importcvecatalog">
        <enablement></enablement>
     </commonWizard>
     <commonWizard
           type="import"
           wizardId="dsm.cve.design.importcveviaparameters">
        <enablement></enablement>
     </commonWizard>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerActionBinding
           viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
        <includes>
           <actionExtension
                 pattern="dsm.cve.design.actions.CVEActionProvider">
           </actionExtension>
        </includes>
     </viewerActionBinding>
  </extension>
</plugin>
